body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.full-spectrum .sp-palette {
max-width: 200px;
}

.draw_container{
	float:left;
	max-width: 330px;
}

.area{
	width: 300px;
	height: 600px;
	border: 1px solid #B8B8B8;
	float:left;
	margin:1em;
	position: relative;
}

.toolbox{
	float:left;
	border: 1px solid #B8B8B8;
	margin:1em;
	padding:2em;
}

.toolbox p{
	color:#484848;
}

.dropdownbox{
	float:right;
	min-height: 100px;
	min-width: 100px;
}

#tool_instruct{
	float:left;
}

#example img{
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin-top: 50%;
}

.instructions p{
	font-size: 1.2em;
	color: #484848;
}
.hidden {
	display:none;
}

.button{

	border-radius: 15px;
	color:white;
	background-color: #3399CC;
	min-width: 80px;
	height:40px;
	margin: 0;
	
}

.button p{
	margin: 0 auto;
	font-size: 1.5em;
	font-weight: 400;
}

#display{
	border: 1px solid #B8B8B8;
}

#display_buffer{
	border: 1px solid white;
}

.display{
	color:#484848;
	margin-top:0;
	margin-bottom: 0;

	}

.example_center{
	min-height:40px;
	height: 40px;
	max-width: 220px;
	margin: 0 auto;
	margin-bottom: 1em;

}

.buttons{
	float:left;
	width:100%;
	text-align: center;
}



#title{
	color:#3399CC;
	position: fixed;
	bottom: 0;
	font-size: 5em;
	font-weight: 900;
	right:0px;
}